In [1]:
from dbManagement import DbManagement
from search import Search
db = DbManagement()
search = Search()

c:\Users\woody\Miniconda3\envs\ds_env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [1]:
from dbManagement import DbManagement
db = DbManagement()

In [2]:
from settings import PREDICATE_COLUMNS
desc = db.describe_columns(PREDICATE_COLUMNS)

IndexError: list index out of range

In [3]:
db.desc_to_df(desc)

        revdate  token_count
min      2021.0         51.0
max      2025.0     168583.0
median   2025.0       1289.0
q1       2025.0        584.0
q3       2025.0       3161.0

In [4]:
results = search.simple_search("what is the capital of the moon?", 10)

In [5]:
search.search_results_to_df(results[0], results[1])

,item_id,title,url,revdate,token_count,entity,similarity
0,32539,Moon,https://en.wikipedia.org/wiki/Moon,2025-02-19 19:51:46,18705,Q405,0.465559
1,112363,July 2038 lunar eclipse,https://en.wikipedia.org/wiki/July_2038_lunar_...,2025-01-23 04:36:32,2952,Q6310613,0.416066
2,141566,March 2024 lunar eclipse,https://en.wikipedia.org/wiki/March_2024_lunar...,2025-01-22 12:49:22,2973,Q16000964,0.413973
3,110996,October 1995 lunar eclipse,https://en.wikipedia.org/wiki/October_1995_lun...,2025-01-24 21:39:23,3188,Q7076904,0.411007
4,106183,April 2013 lunar eclipse,https://en.wikipedia.org/wiki/April_2013_lunar...,2025-01-22 14:12:29,313,Q4781964,0.409054
5,122966,December 1983 lunar eclipse,https://en.wikipedia.org/wiki/December_1983_lu...,2025-01-23 04:34:53,3097,Q5248955,0.407098
6,101416,January 2020 lunar eclipse,https://en.wikipedia.org/wiki/January_2020_lun...,2025-01-26 04:49:17,262,Q6155807,0.406666
7,144692,May 1994 lunar eclipse,https://en.wikipedia.org/wiki/May_1994_lunar_e...,2025-01-23 03:18:48,3181,Q6796303,0.404619
8,103229,January 2084 lunar eclipse,https://en.wikipedia.org/wiki/January_2084_lun...,2025-01-25 03:54:03,4091,Q6155818,0.404116
9,129390,May 1984 lunar eclipse,https://en.wikipedia.org/wiki/May_1984_lunar_e...,2025-01-24 20:55:02,3245,Q6796299,0.402823